./Tutoriales
./ArduinoSketch
./OV7670
./extra
tempCodeRunnerFile.py
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
ArduinoSketch/reconocerAruco.c
extra/47.bmp
extra/aruco.py
extra/b.c
extra/OV7670/ESP32_I2S_Camera/BMP.h
extra/OV7670/ESP32_I2S_Camera/DMABuffer.h
extra/OV7670/ESP32_I2S_Camera/ESP32_I2S_Camera.ino
extra/OV7670/ESP32_I2S_Camera/I2C.h
extra/OV7670/ESP32_I2S_Camera/I2SCamera.cpp
extra/OV7670/ESP32_I2S_Camera/I2SCamera.h
extra/OV7670/ESP32_I2S_Camera/Log.h
extra/OV7670/ESP32_I2S_Camera/OV7670.cpp
extra/OV7670/ESP32_I2S_Camera/OV7670.h
extra/OV7670/ESP32_I2S_Camera/XClk.cpp
extra/OV7670/ESP32_I2S_Camera/XClk.h
extra/reconocimientoDeImagen/a.c
extra/reconocimientoDeImagen/a.py
extra/OV7670/ESP32_I2S_Camera/data/Schematic-no-fifo.PNG
